*{
  margin: 0;
  padding: 0;
}
.maincontainer{
  background-image: url('/assets/mainbackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

