*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(53, 88, 169);
    padding: 10px 20px;
    height: 2rem;
    color: white;
    min-width: 100vw;
}
.user{
    display: flex;
    align-items: center;
    gap: 10px;
}
.profileIcon{
    width: 25px;
    color: white;
}
.sideContent{
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}
.logout{
    color: white;
    text-decoration: none;
    background-color: #3a3e6c;
    padding: 4px 6px;
    border-radius: 4px;
    font-size: small;
    cursor: pointer;
    /* border: 1px solid red; */
}
.createQuiz{
    font-size: small;
    color: white;
    text-decoration: none;    
    background-color: transparent;
    /* box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8); */
    padding: 2px 4px;
    border-radius: 4px;
    border: none;
}