.quizcard{
    width: 50%;
    /* background-color: white; */
  background-image: url('../../../../public/assets/backs3.jpg');

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
}
.quizcard-ques{
        color: rgb(19, 32, 62);
    font-size: large;
    font-weight: 600;
    margin-bottom: 10px;
}
.quizcard-text{
    color: rgb(19, 32, 62);
    font-size: 15px;
    padding: 4px;
    /* border: 1px solid red; */
}